
/*Responsive*/
/*make the width fixed so used pixels not rem*/
@media (max-width:1000px){
  html{
    font-size: 8px;
  }
}
/*tablet*/
@media (max-width:880px) {
  .bio_heading{
    font-size: 30px;
    justify-self: center;
  }
  .container{
    row-gap: 4rem;
  }
  .section{
    grid-template-columns: 1fr;
  }
  .bio_pic-content{
    justify-self: center;
    grid-row: 1;
    margin-bottom: 3rem;
  }
  .h3-heading{
    font-size: var(--font-size-24);
  }
  .skills_list{
    grid-template-columns: repeat(3,1fr);
  }
  .projects_main{
    grid-template-columns: 1fr;
    row-gap: 4rem;

  }
  .project-img{
    width: 100%;
  }
  .projects_data:nth-last-of-type(2){
    order: 1;

  }
  .clients_opinion{
    font-size: 8px;

  }
  .contact{
    row-gap: 4rem;
  }
  .contact_formContact{
    order: -1;
  }
  .footer{
    font-size: 5px;
  }
}

/*phone*/
@media (max-width:500px) {
  .header{
    font-size: 8px;
  }
  .skills_list {
       grid-template-columns: repeat(2, 1fr);
  }
  .burger_menu{
    display: flex;
    flex-direction: column;
    cursor: pointer;/*clickable*/
    gap: 0.75rem;
    align-self: center;
    z-index: 0;
    align-self: center;

  }
  .burger_menu_bar{
    height: 0.3rem;
    width: 3.3rem;
    background-color: var(--color-text);
    transition: var(--transition-timing);
  }
  .header::before{
    z-index: 0;
    padding: 0;
  }
  /* 
  .header:has(.burger_menu_checkbox:checked).burger_menu_bar:nth-child(1){
    transform: translateY(10px) rotate(40deg);
  }
  .header:has(.burger_menu_checkbox:checked).burger_menu_bar:nth-child(2) {
    opacity: 0;
    visibility: hidden;
  }
  .header:has(.burger_menu_checkbox:checked).burger_menu_bar :nth-child(3){
    transform: translateY(-7px) rotate(-40deg);
  } */
  .burger_menu_checkbox:checked +.navigation{
    top: 100%;
  }
  .navigation{
    position: absolute;
    width: 100vw;
    top: 0;
    padding: 2rem 0;
    border-bottom: 0.1rem solid --color-text;
    z-index: -1;
    background-color: var(--color-background);
  }

  .navigation_list{
    justify-content: center;
  }
  .toggle {
    padding: 1rem 0;
    z-index: 1;
  }
}
/*End Responsive*/